* {
  padding: 0;
  margin: 0;
}

.App {
  background: rgb(49, 205, 211);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

